.search-block {
	position: relative;
	width: fit-content;

	.input-item {
		min-width: 300px;
	}
}

.dropdown {
	position: absolute;
	left: 0;
	top: 110%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
	width: 100%;
	z-index: 10;

	&__list {
		display: flex;
		flex-direction: column;

		&-item {
			padding: 10px;
			background: var(--white);
			color: var(--blue);
			transition: 0.3s ease;
			cursor: pointer;

			display: flex;
			align-items: center;
			justify-content: space-between;

			&:not(:last-child) {
				border-bottom: 1px solid rgba(2, 27, 98, 0.2);
			}

			&:hover {
				background: var(--secondary);

				p,
				span {
					color: var(--white);
				}
			}
		}

		p,
		span {
			transition: 0.3s ease;
		}

		span {
			font-size: 14px;
			opacity: 0.9;
		}
	}
}
