.header {
	transition: background ease-in-out 0.25s, height ease-in-out 0.25s;
	width: 100%;
	z-index: 1000;
	padding: 25px 0;
	display: flex;
	align-items: center;

	.logo {
		width: 100px;
		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.05);
		}
	}

	&-wrap {
		display: flex;
		align-items: center;
	}

	.menu-navbar {
		margin: 0 auto;
	}

	.menu-list {
		display: flex;
		align-items: center;
		position: relative;

		&__link {
			color: var(--white);
			font-weight: 600;
			padding: 10px;

			&:not(:last-of-type) {
				margin-right: 20px;
			}
		}

		span {
			position: absolute;
			background: var(--primary-400);
			border-radius: 10px;

			height: 100%;
			bottom: 0;

			z-index: -1;
			opacity: 0;

			left: var(--left-position-span);
			width: var(--width-span);
			transition: var(--span-transition);

			&.active {
				opacity: 1;
			}
		}
	}
}
