body {
	font-family: var(--font-main);
	background: linear-gradient(101.56deg, #4f7ffa 17.75%, #335fd1 84.8%);
	color: var(--white);
	overflow-x: hidden;
	min-width: 320px;
}

.cont {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2rem;
}

.btn {
	display: block;
	color: var(--white);
	background: var(--blue);
	font-size: 18px;
	font-weight: 600;
	padding: 10px 20px;
	text-align: center;
	border-radius: 15px;
	border: 1px solid transparent;
	transition: 0.3s ease;
	width: fit-content;
	cursor: pointer;

	&:hover {
		border-color: var(--blue);
		color: var(--blue);
		background: var(--white);
	}

	&.btn-red {
		background: var(--red);

		&:hover {
			background: #ff0000;
			border-color: var(--error);
			color: var(--white);
		}
	}
}

// Transition
.v-enter-active,
.v-leave-active {
	transition: 0.4s ease;
	//transform: translateY(0);
	opacity: 1;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
	//transform: translateY(40px);
}
