h1,
h2,
h3 {
	font-weight: 700;
}

h1 {
	font-size: 64px;
	line-height: 125%;
}

h2 {
	font-size: 48px;
	line-height: 117%;
}

h3 {
	font-size: 32px;
	line-height: 125%;
}

h4 {
	font-size: 24px;
	line-height: 133%;
	letter-spacing: -0.015em;
	font-weight: 700;
}

p,
a {
	font-size: 18px;
	line-height: 150%;
}

a,
span {
	display: inline-block;
}
