@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
	--font-main: "Inter", sans-serif;

	--grey: #121829;
	--grey-200: #d5d4dc;
	--grey-300: #8e95a9;
	--grey-600: #475069;
	--grey-700: #323b54;

	--blue: #021b62;

	--primary: #5a4af4;
	--primary-400: #5a4af4;
	--secondary: #1ea5fc;
	--tertary: #b66dff;
	--error: #c83532;
	--red: #ff7171;
	--warning: #ffad49;

	--white: #fff;
	--black: #000;
}

// Icons
